/* PHASE 3: Content */

.content {
 background-color: white;
 margin: auto;
 width:900px;
 border-right: 1px solid #ccc;
 border-bottom: 1px solid #ccc;
}

.content-sidebar {
  border-left: 1px solid #ccc;
  padding: 20px;
  float: left;
  width: 200px;
}

.content-main {

  padding: 20px;
  float: left;
  width: 600px;
}

.content h1 {
  margin-bottom: 20px;
  font-size: 24px;
  font-weight: 700;
}

.content p {

}
